@model IEnumerable<StoreMVC.Models.LocationIndexVM>

@{
    ViewData["Title"] = "Index";
}

<h1>Locations</h1>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
           
            <td>
                @Html.ActionLink("Orders", "ViewOrders", new { Id = item.LocationId  }) |
                @Html.ActionLink("Products", "Products", new { Id = item.LocationId }) |
                @Html.ActionLink("Details", "Details", new { name = item.LocationName }) |
                @Html.ActionLink("Delete", "Delete", new { name = item.LocationName })
            </td>
        </tr>
}
    </tbody>
</table>
